<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfOVIlWEUOhpj6BN9HU8vE89RfQpez9Og</string>
	<key>GCM_SENDER_ID</key>
	<string>202473817145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.useFirebase</string>
	<key>PROJECT_ID</key>
	<string>social-ec24c</string>
	<key>STORAGE_BUCKET</key>
	<string>social-ec24c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202473817145:ios:2888de8940cfe9d5e2b9e8</string>
</dict>
</plist>